<div class="footer-container">
  <footer class="wrapper clearfix">
    <a href="#top">
      <div class="col logo-container">
        <img class="logo-img" src="/img/logo.svg" />
        <h2 class="logo-text">flying</h2>
        <h1 class="logo-text">ced</h1>
      </div>
    </a>
    <div id="contact" class="col">
      <b>Kontakt</b>
      <address>
        Cédric Reginster<br>
        Telefon: +41 79 777 55 49<br>
        E-Mail: cedric.reginster@gmail.com
      </address>
    </div>
  </footer>
</div>

<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
      function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
    e = o.createElement(i); r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-98632183-1', 'auto'); ga('send', 'pageview');
</script>