<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{title}}</title>
  <meta name="description" content="{{title}}">
  <meta name="keywords" content="RC Modellhelikopter Schule, RC Drohnen Schule, Drohne, Doppelsteuer, Bern">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximal-scale=1">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700" rel="stylesheet" type="text/css">

  <!--<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>-->
</head>