<div class="header-container">
  <header class="wrapper clearfix">
      <a href="/">
        <div class="logo-container">
          <img class="logo-img" src="/img/logo.svg" />
          <h2 class="logo-text">flying</h2>
          <h1 class="logo-text">ced</h1>
        </div>
      </a>
      <nav role="desktop">
        <a href="/about-me">Über mich</a>
        <a href="/helicopters">Helis</a>
        <a href="/flying-field">Flugplatz</a>
        <a href="#contact">Kontakt</a>
      </nav>​
      <div class="menu-icon"></div>
      <div class="menu">
        <div class="app-menu">
          <nav>
            <a href="/">Home</a>
            <a href="/about-me">Über mich</a>
            <a href="/helicopters">Helis</a>
            <a href="/flying-field">Flugplatz</a>
            <a href="#contact">Kontakt</a>
          </nav>
        </div>
      </div>
  </header>
</div>